$tablet: 48rem;
$desktop: 90rem;

.light-theme {
  --body-bg: hsla(227, 100%, 98%, 1);
  --card-bg: hsla(0, 0%, 100%, 1);
  --header-logo: hsla(220, 18%, 16%, 1);
  --toggle: hsla(217, 20%, 51%, 1);
  --toggle-hover: hsla(220, 18%, 16%, 1);
  --text-primary: hsla(217, 35%, 45%, 1);
  --date-color: hsla(217, 20%, 51%, 1);
  --accent: hsla(217, 21%, 21%, 1);
}

.dark-theme {
  --body-bg: hsla(220, 41%, 13%, 1);
  --card-bg: hsla(222, 41%, 20%, 1);
  --header-logo: hsla(0, 0%, 100%, 1);
  --toggle: hsla(0, 0%, 100%, 1);
  --toggle-hover: hsla(222, 44%, 70%, 1);
  --text-primary: hsla(0, 0%, 100%, 1);
  --date-color: hsla(0, 0%, 100%, 1);
  --accent: hsla(0, 0%, 100%, 1);
}

$blue: #0079ff;
$gray: #697c9a;
$queen-blue: #4b6a9b;
$black: #2b3442;
$white: #ffffff;
$red: #f74646;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  min-height: 100vh;
  font-size: 0.9375rem;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 700;
}

p,
a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

::placeholder {
  color: var(--text-primary);
}

img {
  width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}
